// The following environment variables are used in this example repo. When setting 
// them using the npm env-enc package, please make sure you use the same names and casing for the
// keys, as  this codebase uses them as follows.
// Reference: https://github.com/smartcontractkit/functions-hardhat-starter-kit?tab=readme-ov-file#environment-variable-management

GITHUB_API_TOKEN
PRIVATE_KEY
SECOND_PRIVATE_KEY
ETHEREUM_SEPOLIA_RPC_URL
ETHERSCAN_API_KEY
POLYGONSCAN_API_KEY
POLYGON_MUMBAI_RPC_URL
AVALANCHE_FUJI_RPC_URL
BASESCAN_API_KEY
ARBITRUM_RPC_URL
ARBISCAN_API_KEY
OPTIMISM_API_KEY
OPTIMISM_SEPOLIA_RPC_URL
BASE_SEPOLIA_RPC_URL
COINMARKETCAP_API_KEY